


<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=300, initial-scale=1" /><title>
	Accueil
</title></head>
<body>

    <div id="_erreur_divErreur" class="alert alert-dismissible alerte-message" role="alert">
    <button type="button" class="close alerte-close-btn" data-dismiss="alert" aria-label="Fermer">
        <span class="far fa-times-circle" aria-hidden="true"></span>
    </button>
    <div class="row">
        <div class="col-sm-1 div-icone-alerte hidden-xs">
            <span class="fa-stack fa-2x">
                <i class="fas fa-square fa-stack-2x fond-icone-erreur"></i>
                <i class="fas fa-times fa-stack-1x icone-erreur"></i>
            </span>
        </div>
        <div class="col-sm-10 div-message-alerte">
            <div class="message-erreur-titre">Erreur</div>
            <span id="_erreur__lblErreur" class="alerte-message-contenu">Identifiant invalide<br/></span>
        </div>
    </div>
</div>


    <form name="ctl01" method="post" action="./Default.aspx?redirect=https%3a%2f%2fintranet.sgdf.fr%2fSpecialisation%2fSgdf%2fAccueil.aspx" id="ctl01" style="margin-block-end: 0px;">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE4MTE1MTQ5NTcPZBYCAgcPZBYMZg8WAh4Dc3JjBSYvQXBwX1RoZW1lcy9TZ2RmL2ltYWdlcy9sb2dvX2xvZ2luLnBuZ2QCAg8PZBYCHgtwbGFjZWhvbGRlcgUlQWRyZXNzZSBlLW1haWwgb3UgbnVtw6lybyBkJ2FkaMOpcmVudGQCBQ8PFgIeB1Zpc2libGVoZGQCBg8WAh8CZxYCAgEPDxYCHgtOYXZpZ2F0ZVVybAUxfi9TcGVjaWFsaXNhdGlvbi9TZ2RmL1B1YmxpYy9NZW50aW9uc0xlZ2FsZXMuYXNweGRkAgcPFgQeBXN0eWxlBV1iYWNrZ3JvdW5kLWltYWdlOnVybCgvQXBwX1RoZW1lcy9TZ2RmL2ltYWdlcy9waG90b3MvbG9naW4vcHJvZHVjdGlvbi8yMDIyMDJfbG9naW5wZXRpdGUuanBnKTseCmRhdGEtbGFyZ2UFQC9BcHBfVGhlbWVzL1NnZGYvaW1hZ2VzL3Bob3Rvcy9sb2dpbi9wcm9kdWN0aW9uLzIwMjIwMl9sb2dpbi5qcGdkAg0PZBYCZg9kFgQCAQ8PFgIeCFJlYWRPbmx5aBYCHwEFEURhdGUgZGUgbmFpc3NhbmNlZAIDD2QWAgIBDxYCHgVjbGFzcwUcZ2x5cGhpY29uIGdseXBoaWNvbi1jYWxlbmRhcmRkTCTvSK7PCRQVkbg1ZepC7VqSLHA=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=O6AMUd4KkHXvS2o6VhU2lhbcaFY2HPT52nKKwehEaINVOx-Y1V9qIFhm7qA9f-1_cR2RAqX9O9DPzWc5nLX7NdjDCJ01&amp;t=637461017481343508" type="text/javascript"></script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="F4403698" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAqvdDXJ4QQePCbSrYQQYhBqK1PMeUoJX85hFNiqmBSgl+4sciJO3Hoc68xTFtZGQEi8b45CykvOZBbVy3QicVeK+/9hS1o+zYm/oPKzMSNhlggMRym9kyT7KGiraERLNEI5Pn9tiWbpsQTOtXeXNZOD6J2G7tTVRkkWF9vNRLJ1vMQpBGa2i7Ms4qG1xFHEzpX6xDPZmmWXMcfZuvkTf0gSVz0RhjvHNauTJKP3xa1VgksxGZ0=" />
</div>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-xs-12 col-login">
                    <div class="row">
                        <div class="col col-md-12 text-center">
                            <img src="/App_Themes/Sgdf/images/logo_login.png" id="_logoLogin" class="img-fluid" alt="Logo" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-xs-12 text-center">
                            <h1 class="login-title">INTRANET</h1>
                            <h5 class="login-subtitle">CONNEXION</h5>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-xs-10 col-sm-6 col-lg-10 content-form">
                            <div class="form-group">
                                <input name="login" value="coucou" id="login" class="form-control" type="text" placeholder="Adresse e-mail ou numéro d&#39;adhérent" />
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" id="password" class="form-control" placeholder="Mot de passe" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-xs-10 col-sm-6 col-lg-10">
                            <input type="submit" name="_btnValider" value="Se connecter" onclick="chargementBouton($(this));WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;_btnValider&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="_btnValider" class="btn btn-lg btn-block primary-btn" />
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-xs-10 col-sm-6 col-lg-10 responsive-align-right link-div">
                            <a id="forgottenPwd" href="#" class="link link-forgotten-password" data-toggle="modal" data-target="#passwordModal">J'ai oublié mon mot de passe</a><br />
                            <a id="forgottenId" href="#" class="link link-forgotten-member-number" data-toggle="modal" data-target="#usernameModal">J'ai oublié mon numéro d'adhérent</a>


                        </div>
                    </div>
                    <div class="row justify-content-between link-div">
                        <div id="_divMentionsLegalesSgdf" class="col col-xs-12 text-center">
                            <a id="_hlMentionsLegales" href="Public/MentionsLegales.aspx" target="_blank">Mentions légales</a>
                        </div>
                    </div>
                </div>

                <div id="_divFond" class="col-lg-9 hidden-md hidden-xs hidden-sm background-login" style="background-image:url(/App_Themes/Sgdf/images/photos/login/production/202202_loginpetite.jpg);" data-large="/App_Themes/Sgdf/images/photos/login/production/202202_login.jpg">









                </div>
            </div>

            <!-- Forgotten password modal -->
            <div class="modal fade modal-with-footer modal-login" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-full-height" role="document">
                    <div class="modal-content">
                        <div class="modal-header  ">
                            <div class="modal-header-login-content">
                                <div class="row justify-content-between">
                                    <div class="col-xs-10">
                                        <h5 class="modal-title" id="passwordModalLabel">Rappel du mot de passe</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-between">
                                <div class="col-xs-12 text-center">
                                    <p>
                                        <span id="_lblTitre">Pour recevoir votre mot de passe par e-mail, veuillez saisir votre code adhérent.</span><br />
                                        <div class="content-form">
                                            <div class="form-group">
                                                <label class="sr-only" for="_tbIdentifiant">Numéro d'adhérent</label>
                                                <input name="_tbIdentifiant" type="text" maxlength="9" id="_tbIdentifiant" class="form-control" placeholder="Numéro d&#39;adhérent" />
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-xs-12">
                                    <input type="submit" name="Envoyer" value="Envoyer" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;Envoyer&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="Envoyer" class="btn btn-lg btn-block primary-btn" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer-login">
                            <button type="button" class="btn btn-lg secondary-btn" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Forgotten username modal -->
            <div class="modal fade modal-with-footer modal-login" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="idModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-full-height" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-header-login-content">
                                <div class="row justify-content-between">
                                    <div class="col-xs-10">
                                        <h5 class="modal-title" id="usernameModalLabel">Rappel du numéro d'adhérent</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-between">
                                <div class="col-xs-12">
                                    <p>Pour recevoir votre numéro d'adhérent par e-mail, veuillez vous identifier avec votre nom, prénom et date de naissance (les accents et les majuscules ne sont pas importants).</p>
                                    <div class="content-form">
                                        <div class="form-group">
                                            <label class="sr-only" for="_tbNom">Nom</label>
                                            <input name="_tbNom" type="text" id="_tbNom" class="form-control" placeholder="Nom" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="_tbPrenom">Prénom</label>
                                            <input name="_tbPrenom" type="text" id="_tbPrenom" class="form-control" placeholder="Prénom" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="_dpbDateNaissance">Date de naissance</label>
                                            <div id="_dpbDateNaissance__dateTimePicker" class="input-group date" style="max-width:300px">
    <input name="_dpbDateNaissance$_tbDate" type="text" id="_dpbDateNaissance__tbDate" class="form-control" placeholder="Date de naissance" />
    <span id="_dpbDateNaissance__spanCalendar" class="input-group-addon">
        <span id="_dpbDateNaissance__icon" class="glyphicon glyphicon-calendar"></span>
    </span>
</div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-xs-12">
                                    <input type="submit" name="EnvoyerNumeroAdherent" value="Envoyer" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;EnvoyerNumeroAdherent&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="EnvoyerNumeroAdherent" class="btn btn-lg btn-block primary-btn" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer-login">
                            <button type="button" class="btn btn-lg secondary-btn" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <script src='../../Javascripts/jquery-1.10.2.min.js' type="text/javascript"></script>
                <script src='../../Javascripts/bootstrap.min.js' type="text/javascript" defer></script>
                <script src='../../Javascripts/moment-with-locales.min.js' type="text/javascript" defer></script>
                <script src='../../Javascripts/bootstrap-datetimepicker.min.js' type="text/javascript" defer></script>
            </div>
            <script type="text/javascript">
                function chargementBouton(current) {
                    current.val('Chargement...');
                }

                $(document).ready(function ($) {
                    function chargerPhotoProgressive(element) {
                        if (element.css("backgroundImage") != null && element.css("backgroundImage") != "none") {
                            var imgSmall = new Image();
                            imgSmall.src = element.css("backgroundImage").match(/\((.*?)\)/)[1].replace(/('|")/g, '');

                            var imgLarge = new Image();
                            imgLarge.src = element.data("large");
                            imgLarge.onload = function () {
                                element.css("backgroundImage", 'url(' + element.data("large") + ')');
                            };

                        }
                    }

                    var divFond = $('#_divFond');
                    if (divFond != null && divFond.length > 0) {
                        chargerPhotoProgressive(divFond);
                    }

                    // Fonction pour vérifier si le navigateur utilisé est Internet Explorer
                    function isIE() {
                        ua = navigator.userAgent;
                        /* MSIE used to detect old browsers and Trident used to newer ones*/
                        var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
                        return is_ie;
                    }

                    if (isIE()) {
                        $("#_logoLogin").css("margin-bottom", "0");
                        $("#_logoLogin").css("margin-top", "-10px");
                        $(".titre-liens").css("padding-bottom", "0");
                    }
                });
            </script>


            <noscript>
                <div id="_divNoJavascript">
                    <p class="erreur">
                        L'utilisation ce site requiert Javascript. Javascript n'a pas été détecté sur votre
            navigateur.
                    </p>
                    <p>
                        Pour activer Javascript sur votre navigateur, vous pouvez suivre les instructions
            suivantes en fonction de votre navigateur.
                    </p>
                    <table>
                        <tr>
                            <td class="label_fiche gras">Internet Explorer</td>
                            <td class="champ">
                                <div>
                                    Cliquez sur l'onglet "Outils" puis sur "Options internet"<br />
                                    Sélectionnez l'onglet "Sécurité" puis cliquez sur "Personnaliser le niveau"<br />
                                    Dans la section "Script", sous-section "Active scripting", la bulle "Activer" doit
                        être sélectionnée<br />
                                    Pour sortir, cliquez sur "OK", puis sur "Oui" dans la fenêtre d'avertissement puis
                        à nouveau sur "OK".<br />
                                </div>
                                <div>
                                    Il vous faut maintenant ouvrir une nouvelle fenêtre d'Internet Explorer pour bénéficier
                        de l'activation du Javascript.<br />
                                    PS : Les navigateurs Internet Explorer avant la version 5.0 (version 6.0 pour les
                        MAC) ne supportent pas le Javascript.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_fiche gras">Firefox</td>
                            <td class="champ">
                                <div>
                                    Cliquez sur "Outils" puis sur "Options" et affichez l'onglet "Contenu".<br />
                                    Sélectionnez la case "Activer Javascript".
                                </div>
                                <div>
                                    Vous pouvez fermer cette fenêtre pour revenir au site précédent. Les fonctions Javascript
                        sont maintenant activées, vous pouvez donc consulter le site dans son intégralité.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_fiche gras">Mozilla</td>
                            <td class="champ">
                                <div>
                                    Cliquez sur l'onglet "Edition" puis sur "Préférences"<br />
                                    Double cliquez sur "Avancées" puis sur cliquez une fois sur "Scripts et Plugins"<br />
                                    Activez la case "Activer Javascript pour <b>le navigateur</b>" en haut de la fenêtre.<br />
                                    Pour sortir cliquez sur "OK"
                                </div>
                                <div>
                                    Vous pouvez fermer cette fenêtre pour revenir au site précédent. Les fonctions Javascript
                        sont maintenant activées, vous pouvez donc consulter le site dans son intégralité.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_fiche gras">Netscape</td>
                            <td class="champ">
                                <div>
                                    Cliquez sur l'onglet "Edition" puis sur "Préférences"<br />
                                    Double cliquez sur "Avancé" puis sur cliquez une fois sur "Scripts et modules externes"<br />
                                    Activez la case "Activer Javascript pour <b>Navigator</b>" en haut de la fenêtre.<br />
                                    Pour sortir cliquez sur "OK"
                                </div>
                                <div>
                                    Vous pouvez fermer cette fenêtre pour revenir au site précédent. Les fonctions Javascript
                        sont maintenant activées, vous pouvez donc consulter le site dans son intégralité.<br />
                                    PS : Les navigateurs Netscape avant la version 4.5 ne supportent pas le Javascript.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_fiche gras">Opera</td>
                            <td class="champ">
                                <div>
                                    Cliquez sur l'onglet "File" puis sur "Preferences" et ensuite sur "Multimedia"<br />
                                    Cochez "Enable Javascript", situé au-dessus du bouton "Javascript options".
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </noscript>
        </div>

        <noscript id="deferred-styles">
             <link rel="stylesheet" type="text/css" href="../../App_Themes/Default/fontawesome-pro-5.14.0-web/css/all.min.css" />
        </noscript>
        <script>
            var loadDeferredStyles = function () {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
            else window.addEventListener('load', loadDeferredStyles);
        </script>


<script type="text/javascript">
//<![CDATA[

                        $(document).ready(function(){
                            if($('#cssBootstrap').length == 0){
                                $('<link id=\'cssBootstrap\' href=\'/App_Themes/Sgdf/styles/1-bootstrap.min.css\' type=\'text/css\' rel=\'stylesheet\' />').appendTo($('head', document));
                            }
                            if($('#cssDefault').length == 0){
                                $('<link id=\'cssDefault\' href=\'/App_Themes/Sgdf/styles/default.css\' type=\'text/css\' rel=\'stylesheet\' />').appendTo($('head', document));
                            }
                        });
$(function () {
$('#_dpbDateNaissance__dateTimePicker').datetimepicker({
    useCurrent: false,
    minDate: moment('31/12/1799', 'DD/MM/YYYY'),
    maxDate: moment('01/01/9001', 'DD/MM/YYYY'),
    locale: 'fr',
    format: 'DD/MM/YYYY',
    stepping: '1',
    viewMode: 'days',
    allowInputToggle: false,
widgetPositioning:{horizontal:'auto', vertical:'auto'},
});
});
//]]>
</script>
</form>

</body>
</html>
